[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nestjs-org/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nestjs-org/product-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nestjs-org/orders-ms.git
[submodule "payment-ms"]
	path = payment-ms
	url = https://github.com/nestjs-org/payment-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nestjs-org/auth-ms.git
